$fg-primary: var(--fg-primary);
$bg-primary: var(--bg-primary);

$fg-secondary: var(--fg-secondary);
$bg-secondary: var(--bg-secondary);

$fg-brightness: var(--fg-brightness);
$bg-brightness: var(--bg-brightness);

$current: var(--current);
